<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back!<%= current_user.name %></h1>
    <p class="lead">
      Click on the button below to go to the forum.
    </p>
    <%= link_to 'Click Here', recipes_path, :class => 'btn btn-large btn-primary' %>
  <% else %>
  <div class="text-center">
    <h1>Welcome to Foodio!</h1>
    <p class="lead">
      Confused about what to eat?. Want to try some exotic dishes? You've come to the right place! 
    </p>
    <p class="lead">
      You must sign in or sign up before you can access our super delicious,
      top secret content.
    </p>
    <div class="row">
      
      <div class="col-md-6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success btn-lg" %>
      </div>
      <div class="span6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-lg" %>
      </div>
      </div>
    </div>
  <% end %>
</div>
